.table-maze {
  border-collapse: collapse;
}

.cell-maze {
  text-align-last: center;
  width: 2rem; 
  height: 2rem;
  font-size: large;
}

.podium1 {
  background-color: #ffd700;
}

.podium2 {
  background-color: #c0c0c0;
}

.podium3 {
  background-color: #cd7f32;
}

.game-header {
  letter-spacing: 5px;
  color: yellowgreen;
  font-weight: 700;
  background: black;
  padding: 10px;
}

.name-input {
  background-color: yellowgreen;
  font-size: larger;
  padding: 8px;
  color: azure;
}

::placeholder {
  color: azure;
}

.setup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-bottom: 8px;
}

.setup-button {
  margin: 8px;
  background-color: aquamarine;
  font-size: 15px;
}

.submit-button {
  margin-bottom: 8px;
  background-color: aquamarine;
  font-size: 15px;
}

.information-label {
  color: yellowgreen;
  background: #3c3c3c;
  padding: 5px;
}

.table-container {
  margin-top: 8px;
}

.error-message {
  color: red;
  background: azure;
  padding: 10px;
  font-weight: 800;
}

.game-container {
  margin-bottom: 20px;
}

.bottom-controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 8px;
}

.rankings-table {
  width: fit-content;
  background: aqua;
}

.rankings-header {
  font-weight: 800;
  font-size: 15pt;
}
